@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto.ttf) format('truetype');
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F7F8F9;
  color: #334652;
}

.container {
  padding: 20px;
}

.container .card {
  margin-top: 60px;
  border-radius: 10px;
  border-top: 7px solid #548FD3;
}

.container .card .card-body {
  padding: 40px;
}

.container .card .card-body .card-media {
  width: 130px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.container .card .card-body .card-title {
  text-align: center;
}

.container .card .card-body .card-description {
  text-align: center;
  opacity: .6;
  font-weight: 400;
}

.container .card .card-body form {
  margin-top: 50px;
}

.container .card .card-body form .form-row {
  padding-left: 5px;
  padding-right: 5px;
}

.container .card .card-body form .form-group {
  padding-left: 0px;
  padding-right: 15px;
}

.container .card .card-body form .form-group label {
  color: #334652;
  font-weight: 500;
}

.container .card .card-body form .form-group .form-control {
  padding: .75rem .75rem;
  border: 1px solid #5E8BB7;
}

.btn-primary {
  background: #24275D;
  color: white;
  border: 1px solid #24275D;
}
 .modal-content .modal-header {
  background-color: #24275D;
}

 .modal-content .modal-body .modal-icon {
  width: 60px;
  margin-bottom: 10px;
}

 .modal-content .modal-body .text-description {
  text-align: center;
  font-weight: 500;
}

 .modal-content .modal-body .card-description {
  text-align: center;
  opacity: .6;
  font-weight: 400;
}

.modal-content .modal-header .close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  color: white;
  opacity: .5;
}

.modal-content .modal-body {
  text-align: center;
  color: #334652;
}

 .modal-content .modal-body .alert {
  margin: auto;
  width: 80%;
  text-align: center;
  color: #334652;
}

 .modal-content .modal-body .alert-primary {
  background-color: white;
  border-color: #5E8BB7;
}

 .modal-content .modal-body .modal-icon {
  width: 60px;
  margin-bottom: 10px;
}

.modal .modal-content .modal-body .qr-box {
  width: 150px;
  margin-top: 15px;
    margin-bottom: 10px;
}

 .modal-content .modal-body .link-container {
  margin: auto;
}

 .modal-content .modal-body .text-description {
  text-align: center;
  font-weight: 500;
}

 .modal-content .modal-body .card-description {
  text-align: center;
  opacity: .6;
  font-weight: 400;
}

 .modal-content .modal-footer button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}


.form-subscripcion .card {
  margin: 60px auto;
  border-radius: 10px;
  border-top: 7px solid #548FD3;
  width: 50%;
}
.form-check-label {
  margin-right: 5px;
    margin-top: -3px;
}

.form-check .invalid-feedback{
  margin-top: 1px;
}

@media screen and (max-width: 575.98px) {
  .form-subscripcion .card {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .form-subscripcion .card {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .form-subscripcion .card {
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  .form-subscripcion .card {
    width: 50%;
  }
}

#overlay {
  background: #ffffff;
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
  opacity: .80;
}

.loader {
  position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.plan-pago .list-group {
  color: #334652;
  margin-top: 20px;
  border-radius: 12px;
}

.plan-pago .list-group .list-group-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: transparent;
  padding-top: 0px;
}

.plan-pago .list-group .list-group-item .label-list {
  margin-right: 10px;
  font-weight: 600;
  opacity: .6;
}

.plan-pago .list-group .list-group-item .info-list {
  font-weight: 500;
}

.modal-title{
    color: white;
}

.total-row {
    background-color: aliceblue;
}

.message-error-text {
    text-align: center;
}

.plan-id {
  color: #548FD3;
  font-weight: bold;
  margin-top: auto;
  letter-spacing: 0.068em
}

.plan-pago-title {
  font-weight: bold;
}

.plan-datos-title{
 
  background-color: papayawhip; 
  border-top: 1px solid #262786;
  border-bottom: 1px solid #262786;
  font-weight: normal;
  
}



.plan-pago h5 {
  color: #262786;
  font-weight: 600;
}

.plan-pago-title{
  color: #262786
}

.plan-pago td{
  color: #262786;
}

.plan-pago thead th{
  background-color: papayawhip; 
} 

.plan-datos-header th {
  background-color: white !important; 
  border-top: none;
  border-bottom: none !important;
} 
.plan-datos-items td {
  border: none;
  color: black;
}
 .plan-pago th{
  color: #262786;
  
  
} 

.plan-pago .total-row td {
  color: red;
  font-weight: 600;
}

.plan-pago .total-row th {
  color: red;
  font-weight: 600;
}

.observaciones {
  color: #262786;
  font-weight: 800;
  
}

.firmas{
  margin-top: 100px;
}

@media print {
  
  *{ color-adjust: exact;  -webkit-print-color-adjust: exact; print-color-adjust: exact; }
  body {
    display: table;
    table-layout: fixed;
    padding-top: 2.5cm;
    padding-bottom: 2.5cm;
    height: auto;
    -webkit-print-color-adjust: exact !important; 
}
.plan-datos-header th {
  background-color: white ; 
  border-top: none;
  border-bottom: none !important;
} 
.plan-pago thead th{
  background-color: papayawhip; 
} 

.observaciones{
 padding-bottom: 50px;
}

.plan-pagos-table thead th{
  background-color: papayawhip !important; 
} 


  #btn-print{
    display: none;
  }
}

